<h1></h1>
<p>
  Grupo o coleccionista seleccionado: <%=@coleccionista.nombre unless @coleccionista.nil?%>
  <br>
  Coleccionista seleccionada: <%=@coleccionista.coleccion.find(session["coleccion_id"]).nombre unless @coleccionista.nil?%>
  
</p>
